@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Monoton&family=Source+Sans+Pro&display=swap');

*{
     margin: 0;
     padding: 0;
 }

 .contanier{
     height: 100vh;
     width: 100%;
     background-image: url(/image/certificate-border.jpg);
     background-size: contain;
     background-position:center;
     position: relative;
     background-repeat: no-repeat;
 }
 .content{
     width: 60%;
     margin: 0 auto;
     opacity: 50%;
     background-color: teal;
     height: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    font-weight: 400;
    margin-top: -240px;
}

h5{
    
    font-family: 'Source Sans Pro', sans-serif;  
    font-size: 15px;
    margin-top: -140px;
}
h3{

}