@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cabin+Sketch&family=Dancing+Script&family=Monoton&family=Shalimar&family=Source+Sans+Pro&display=swap');

*{
     margin: 0;
     padding: 0;
 }

 /* container */
 .container{
     height: 100vh;
     width: 70%;
     background-image: url(/image/certificate-border.jpg);
     background-size: contain;
     background-position:center;
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     margin: 0 auto;
 }
 .content{
     width: 83%;
     height: 60vh;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #c4beb5;
    margin-top: 7rem;
 }

 /* headings */
 span{
     font-size: 1.563rem;
 }

 h1{
    font-family: 'Alice', serif;
    font-size: 2.313rem;
    font-weight: 400;
    margin-top: 2.5rem;
}

h5{
    
    font-family: 'Source Sans Pro', sans-serif;  
    font-size: 0.688rem;
    margin-top: 3.125rem;
}
h3{
    font-family: 'Shalimar', cursive; 
    font-size: 3.75rem;
    margin-top: 3.57rem;

}
h6{
    font-size: 0.988rem;
       font-family: 'Source Sans Pro', sans-serif;  
}
.hr{
    background-color:black;
    width: 26.25rem;
    margin-top: -0.625rem;
    height: 0.075rem;
}
h2{
     font-family: 'Source Sans Pro', sans-serif;  
    font-size: 0.688rem;
    margin-top: 1.875rem;
    display: flex;
    justify-content: center;

}

.sign{
    font-family: 'Shalimar', cursive; 
}
.section-hr{
   width: 7rem;
}
.section-container{
    margin-top: 2.5rem;
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.section-container i{
    font-size: 5rem;
}

.sign, .date{
    display: flex;
    flex-direction: column;
    align-items: center;
}